.html-output {
    flex: 1;
    background-color: #fff;
    position: relative;
    overflow: auto;
}



#console {
    height: 20px;
    position: absolute;
    background: #303341;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    transition: all .2s ease-in;
}

.act {
    overflow: auto;
}

#console-header {
    color: gray;
    font-family: 'Open Sans', serif;
    font-size: .7rem;
    padding-left: 4px;
    padding-top: 1px;
    line-height: 20px;
    border-bottom: 1px solid #4e4e4e;
    position: fixed;
    width: 100%;
    background-color: #303341;

    span {
        cursor: pointer;

        div {
            position: absolute;
            top: 0;
            right: 5px;

            &:hover {
                color: #fff;
            }
        }
    }

}

#console-dump {
    color: #fff;
    font-family: 'Fira Code';
    font-size: .9rem;
    padding-top: 25px;
}

.result-frame {
    border: 1px solid #303341;
}